h2 = link_to 'Gems', root_path
table
  thead
    tr
      th id
      th name
      th version
      th sync date
  tbody#ruby_gems
    = render partial: 'ruby_gem', collection: @ruby_gems
hr
#paginator
  = paginate @ruby_gems, remote: true

hr
p If you want update all gems in base, please click this link one(!) time for start this job.
#update_link
  = link_to 'Update', updating_path(params.merge(page: params[:page])), remote: true, class: 'update_button'
hr
#download_links
  p Download (from RubyGems):
  = link_to '50 last update', download_path, remote: true, class: 'download_button'
  br
  = link_to '50 last add', download_path(last_add: true), class: 'download_button'
#status_label
/= @json_objects
